/*
BEM  设计模式

模块（没有前缀，多个单词 ——链接）
元素（元素在模块之后，可以有多个层级，以——链接）
修饰（某元素，或者某模块特别的状态必须有一个状态名和状态值，使用——连接）

*/

.header{
   
    background-color: #f7f7f7;
}
.header_wrap{
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header_logo{
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    color: #07111b;
    text-indent: 50px;
    background:url('../img/logo.png') left center no-repeat ;
    background-size: 38px 38px;
    position: absolute;
    top: 50%;
    margin-top:-19px; 
    left: 20px;
}

.header_nav{
    position: absolute;
    right: 20px;
    height: 38px;
    top: 50%;
    margin-top:-19px; 

}
.header_nav-item{
    color: #292f35;
    font-size: 14px;
    display: block;
    height: 38px;
    float: left;
    width: 30px;
    text-align: center;
    padding-left: 40px;
    line-height: 38px;
    position: relative;
}

.header_nav-item:hover{
    color: #f01400;
}
.header_nav-item_status_active{
    color: #f01400;
}

.header_nav-item_custom_button{
    background-color: #000;
    color: #f4f4f5;
    text-align: center;
    width: 90px;
    border-radius: 3px;
    padding: 0;
    margin-left: 40px;
}

/*第一屏*/
.screen-1{
    height: 875px;
    background-color: #e7e7e7;
    background: url(../img/bg-screen-1.png) no-repeat center;
    position: relative;
    overflow: hidden;
}
.screen-1_heading{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
    color: #4d555d;
    padding-top: 152px;
}
.screen-1_heading b{
    color: #f01400; 
    font-weight: normal;
}
.screen-1_phone{
    width: 1375px;
    height: 305px;
    background: url(../img/screen-1-phone.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -687px;
    bottom: 180px;
    z-index: 2;
}
.screen-1_shadow{
    width: 1233px;
    height: 411px;
    background: url(../img/screen-1-shadow.png) no-repeat center;
    position: absolute;
    left: 50%;
    margin-left: -616.5px;
    bottom: 30px;
    z-index: 1;
    opacity: 0.8;
}

/*第二屏*/
.screen-2{
    background-color: #fafafa;
    height: 875px;
    position: relative;
    overflow: hidden;
}
.screen-2_heading{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 46px;
    text-align: center;
    color: #f01400;
    padding-top: 96px;
    line-height: 46px;
}
.screen-2_subheading{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #2c1337;
    padding-top: 25px;
    line-height: 28px;

}
.screen-2_phone{
    width: 928px;
    height: 873px;
    background: url(../img/bg-screen-2.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -464px;
    bottom: -345px;
    z-index: 2;
}
.screen-2_point{
    width: 108px;
    height: 22px;
    padding-right: 112px;
    font-size: 22px;
    position: absolute;
    line-height: 22px;
    color: #4d555d;
    background: url(../img/icon-point-right.png) no-repeat center right;
}
.screen-2_point_custom_right{
    padding: 0 0 0 112px;
    background: url(../img/icon-point-left.png) no-repeat center left;
}
.screen-2_point_i_1{
    top: 150px;
    left: -164px;
}
.screen-2_point_i_2{
    right: 130px;
    top: 30px;

}
.screen-2_point_i_3{
     right:30px;
     top: 330px;
}

/*第三屏*/
.screen-3{
    height: 875px;
    position: relative;
    background-color: #A71316;
    overflow: hidden;
}

.screen-3_wrap{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.screen-3_heading{
    font-size: 46px;
    text-align: center;
    color: #ffffff;
    text-align: left;
    padding-top: 94px;
    line-height: 46px;
}

.screen-3_subheading{
    font-size: 14px;
    text-align: left;
    color: #ffffff;
    padding-top: 25px;
    line-height: 28px;

}

.screen-3_phone{
    width: 756px;
    height: 873px;
    background: url(../img/bg-screen-3.png) no-repeat center top;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 195px;
    z-index: 2;
}

.screen-3_features{
    position: absolute;
    top: 395px;
    left: 0;
    width: 320px;
    height: 280px;

}
.screen-3_features_item{
    width: 138px;
    height: 118px;
    border: 1px solid #cb7173;
    margin: 0 20px 20px 0;
    float: left;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
}
.screen-3_features_item_number{
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    padding: 28px 0 8px;
}
.screen-3_features_item_desc{
    height: 14px;
    font-size: 14px;
    line-height: 14px;
    
}

/*第四屏*/
.screen-4{
    background-color: #ffffff;
    height: 875px;
    position: relative;
    overflow: hidden;
}
.screen-4_wrap{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.screen-4_heading{
    font-size: 46px;
    line-height: 46px;
    text-align: center;
    color: #f01400;
    text-align: center;
    padding-top: 135px;
}

.screen-4_subheading{
    font-size: 14px;
    text-align: center;
    color: #464a4f;
    padding-top: 29px;
    line-height: 28px;

}

.screen-4_type{
    width: 1250px;
    height: 270px;
    position: absolute;
    top:304px;
    margin-left: 30px;
}

.screen-4_type_item{
    width: 220px;
    margin-right: 90px;
    height: 270px;
    float: left;
    position: relative;
    text-align: center;
    background-size: cover;
}

.screen-4_type_item_color{
    width: 100%;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #2c3238;
    position: absolute;
    bottom: -44px;
}
.screen-4_type_item_storage{
    width: 100%;
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    color: #a4a9ae;
    position: absolute;
    bottom: -66px;
}

.screen-4_type_item_i_1{
    background: url(../img/phone-1.png) no-repeat left top;
}

.screen-4_type_item_i_2{
    background: url(../img/phone-2.png) no-repeat left top;
}

.screen-4_type_item_i_3{
    background: url(../img/phone-3.png) no-repeat left top;
}

.screen-4_type_item_i_4{
    background: url(../img/phone-4.png) no-repeat left top;
}


/*第五屏*/
.screen-5{
    height: 875px;
    background:#d9dde1;
    position: relative;
    overflow: hidden;

}
.screen-5_heading{
    font-size: 46px;
    text-align: center;
    color: #f01400;
    padding-top: 130px;
    line-height: 46px;
}
.screen-5_subheading{
    font-size: 14px;
    text-align: center;
    color: #2c1337;
    padding-top: 25px;
    line-height: 28px;

}

.screen-5_bg{
    width: 1920px;
    height: 433px;
    background: url(../img/bg-screen-5.png) no-repeat center;
    background-size: contain;
    position: absolute;
    left: 50%;
    margin-left: -960px;
    bottom: -100px;
}


/*第六屏*/
.screen-buy{
    height: 80px;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #2b333b url('../img/bg-screen-buy.png')center no-repeat;
}

.screen-buy_button{
    height: 80px;
    width: 240px;
    border-radius: 5px;
    transition: all .5s;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    background-color: #f01414;
    display: inline-block;
}

.screen-buy_button:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/*页脚*/
.footer{
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #07111b;
}

.outline{
    position: fixed;
    padding: 5px 10px;
    top: 50%;
    margin-top: -119.5px;
    right: 0;
    z-index: 3;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);

}
.outline_item{
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 5px 0;
    background-color: #fff;
    margin-top: 5px;
    border-top: 1px solid #eee;
    color: #93999f;
}
.outline_item:first-child{
    border: none;
}
.outline_item_status_active{
    color:red; 
}

/*导航条 status back 样式*/
.header{
    transition: all 1s;
}
.header_status_back{
    background-color:rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.header_status_back .header_logo,
.header_status_back .header_nav-item{
    color: #fff;
}
.header_status_back .header_nav-item_status_active{
    color: red;
}
.header_nav-item-tip {
    width: 60px;
    height: 2px;
    background: red;
    position: absolute;
    left: 25px;
    bottom: -2px;
}